@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    font-family: 'Roboto', sans-serif; 
}
img {
    object-fit: cover;
}
input {
    background-color: #DCDCDC;
    border: none;
    padding: 8px 0 8px 10px;
    border-radius: 4px;
}
/* width div of input */
.width{
    width: 260px;
    margin: 0 auto;
}
button {
    background: #59A5FF;
    color: #ffffff;
}
#total-parcentage-input {
    width: 100px;
}
.error,.error-btn {
    position: absolute;
    top: 95%;
    left: 26%;
    color: red;
    display: none;
}
#error {
    position: absolute;
    top: 75%;
    left: 40%;
    color: red;
    display: none;
}